* {
font-family: 'Poppins', sans-serif;
margin: 0;
padding: 0;
box-sizing: border-box;
outline: none;
border: none;
text-decoration: none;
}

.message {
position: sticky;
top: 0;
left: 0;
right: 0;
padding: 15px 10px;
background-color: var(--white);
text-align: center;
z-index: 1000;
box-shadow: var(--box-shadow);
color: red;
font-size: 30px;
text-transform: capitalize;
cursor: pointer;
}

.container {
min-height: 100vh;
display: flex;
align-items: center;
justify-content: center;
padding: 20px;
padding-bottom: 60px;
background: white;
}

.container .content {
text-align: center;
}

.container .content h3 {
font-size: 30px;
color: #333;
}

.container .content h3 span {
background: crimson;
color: #fff;
border-radius: 5px;
padding: 0 15px;
}

.container .content h1 {
font-size: 50px;
color: #333;
}

.container .content h1 span {
color: crimson;
}

.container .content p {
font-size: 25px;
margin-bottom: 20px;
}

.container .content .btn {
display: inline-block;
padding: 10px 30px;
font-size: 20px;
background: #333;
color: #fff;
margin: 0 5px;
text-transform: capitalize;
}

.container .content .btn:hover {
background: crimson;
}

.form-container {
min-height: 100vh;
display: flex;
align-items: center;
justify-content: center;
padding: 20px;
padding-bottom: 60px;
background: white;
}

.form-container .btn {
background-color: rgb(134, 57, 72);
color: white;
text-transform: capitalize;
font-size: 20px;
cursor: pointer;
}

.form-container .btn:hover {
background-color: green;
border-radius: 30%;

}

.form-container form {
padding: 20px;
border-radius: 5px;
box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
background: #fff;
text-align: center;
width: 500px;
}

.form-container form h3 {
font-size: 30px;
text-transform: uppercase;
margin-bottom: 10px;
color: #333;
}

input {
text-align: center;
}

.form-container form input,
.form-container form select {
width: 100%;
padding: 10px 15px;
font-size: 17px;
margin: 8px 0;
background: #eee;
border-radius: 5px;
}

.form-container form select option {
background: #fff;
}

.form-container form .form-btn {
background-color: crimson;
color: #fff;
text-transform: capitalize;
font-size: 20px;
cursor: pointer;
}

.form-container form .form-btn:hover {
background-color: #fbd0d9;
color: crimson;
}

.form-container form p {
margin-top: 10px;
font-size: 20px;
color: white;
/* color: #ad20ff; */
}

.form-container form p a {
color: rgb(1, 33, 139);
}

.form-container form .error-msg {
margin: 10px 0;
display: block;
background: crimson;
color: #fff;
border-radius: 5px;
font-size: 20px;
padding: 10px;
}